<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".NfcSwitcherApplication"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="NFC Switcher"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="false"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalletActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <service
            android:name=".NfcSwitcherWalletService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="NFC Switcher"
            android:logo="@mipmap/ic_launcher"
            android:permission="android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE">
            <intent-filter>
                <action android:name="android.service.quickaccesswallet.QuickAccessWalletService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.quickaccesswallet"
                android:resource="@xml/quickaccesswallet_configuration" />
        </service>
        <service
            android:name=".NfcSwitcherApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>
    </application>
</manifest>
